<%= form_with(model: jargon, local: true) do |form| %>
  <% if jargon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jargon.errors.count, "error") %> prohibited this jargon from being saved:</h2>

      <ul>
      <% jargon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
