{
 "presets": [
    "es2015",
    "react",
    "react-dom",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        }
      }
    ],
    "@babel/preset-typescript", "@babel/preset-react"
  ]
}
